{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Rustic Cut Wood Working</title>
    <link rel="icon" type="image/png" href="{% static 'rustic_cut/img/favicon.png' %}">

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js" ></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.css">
    <link href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <link href="{% static 'rustic_cut/css/base.css' %}" rel='stylesheet' type='text/css'>
</head>

<body>
    <header id="header" class="header navbar-fixed-top" style="background:#002266">
            <div class="container">
                <h1 class="logo">
                    <a href="{% url 'rustic_cut_index' %}"><img class="img-responsive top-logo" src="{% static 'rustic_cut/img/rustic-cut-logo-clear-background.png'%}" alt="" /></a>
                </h1><!--//logo-->
                <nav class="main-nav navbar-right" role="navigation">
                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse" onclick="if ($('#navbar-collapse').hasClass('in')) {$('#navbar-collapse').removeClass('in')} else {$('#navbar-collapse').addClass('in')};">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button><!--//nav-toggle-->
                    </div><!--//navbar-header-->
                    <div id="navbar-collapse" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="nav-item"><a href="{% url 'rustic_cut_index' %}">Home</a></li>
                            <li class="nav-item"><a href="{% url 'rustic_cut_products' %}">Products</a></li>
                            <li class="nav-item"><a href="{% url 'rustic_cut_about' %}">About</a></li>
                            <li class="nav-item"><a href="{% url 'rustic_cut_contact' %}">Contact</a></li>
                        </ul><!--//nav-->
                    </div><!--//navabr-collapse-->
                </nav><!--//main-nav-->
            </div><!--//container-->
        </header><!--//header-->

        {% block content %}{% endblock %}

        <footer class="footer">
        <div class="footer-content">
            <div class="container">
                <div class="row">
                    <div class="footer-col links col-md-2 col-sm-4 col-xs-12">
                        <div class="footer-col-inner">

                            <ul class="list-unstyled">
                                <li><a href="{% url 'rustic_cut_about' %}"><i class="fa fa-caret-right"></i>Who we are</a></li>
                                <li><a href="{% url 'rustic_cut_products' %}" target="_blank"><i class="fa fa-caret-right"></i>Products</a></li>
                            </ul>
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col-->
                    <div class="footer-col links col-md-2 col-sm-4 col-xs-12 sm-break">
                        <div class="footer-col-inner">

                            <ul class="list-unstyled">
                                <li><a href="{% url 'rustic_cut_contact' %}"><i class="fa fa-caret-right"></i>Contact us</a></li>
                            </ul>
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col-->
                    <div class="footer-col connect col-md-6 col-sm-12 col-xs-12">
                        <div class="footer-col-inner">
                            <ul class="social list-inline">
                                <li><a href="http://twitter.com/chicoryco" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="http://facebook.com/chicoryco" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="http://pinterest.com/chicoryco" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="http://instagram.com/chicoryco" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col-->
                    <div class="clearfix"></div>
                </div><!--//row-->
            </div><!--//container-->
        </div><!--//footer-content-->
        <div class="bottom-bar">
            <div class="container">
                <small class="copyright">Copyright @ 2015 Rustic Cut Wood Working</small>
            </div><!--//container-->
        </div><!--//bottom-bar-->
    </footer><!--//footer-->
</body>

</html>