{% extends "rustic_cut/html/base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="bg-slider-wrapper">
        <div class="flexslider bg-slider">
            <ul class="slides" style="padding-left:0;">
                <li class="slide slide-1" style="background:#253340 {% if featured_product %} url({{ featured_product.photo.url }}) {% else %} url({% static 'rustic_cut/img/wood_floor.jpg' %}) {% endif %} no-repeat 50% top;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"></li>
            </ul>
        </div>
    </div><!--//bg-slider-wrapper-->

    <section class="promo section section-on-bg">
        <div class="container text-center">
            <h2 class="title">Rustic Cut Woodworking</h2>
            <p class="intro">Check out our
                <b>
                <a class="featured" href="{% if featured_product %}products/{{ featured_product.id }}{% else %}/products/{% endif %}" target="_blank">
                    {% if featured_product %}{{ featured_product.name }}{% else %}Wood Floor{% endif %}
                </a>
                </b>
            </p>
        </div><!--//container-->

    </section><!--//promo-->
    
    <div class="sections-wrapper">
        <!-- ******Testimonials Section****** -->
        <section class="section testimonials">
            <div class="container">
                <h2 class="title text-center">What are people saying about Rustic Cut?</h2>
                <div id="testimonials-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#testimonials-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#testimonials-carousel" data-slide-to="1"></li>
                        <li data-target="#testimonials-carousel" data-slide-to="2"></li>
                    </ol><!--//carousel-indicators-->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="content">
                                <blockquote>
                                <p><i class="fa fa-quote-left"></i>I definitely recommend Rustic Cut Woodworking!! I ordered a decorative spoon, which was completed in no time at all, and I love it!! Thank you so much!!!</p>
                                </blockquote>
                                <p class="source">Ruthann <br /><span class="title">Satisfied customer</span></p>
                            </div><!--//content-->
                        </div><!--//item-->
                        <div class="item">
                            <div class="content">
                                <blockquote>
                                <p><i class="fa fa-quote-left"></i>My cabinets...they are beautiful beyond description! Compliments are coming in! You can't appreciate the beautiful detail in the pictures...all vendors that came in to complete the floor to the back splash raved about how beautiful the cabinets are! Compliments galore.....Mark, thank you for designing just what I wanted...</p>
                                </blockquote>
                                <p class="source">Ruth<br /><span class="title">Satisfied customer</span></p>
                            </div><!--//content-->
                        </div><!--//item-->
                        <div class="item">
                            <div class="content">
                                <blockquote>
                                <p><i class="fa fa-quote-left"></i>Thank you so much, your talent makes so many people happy.</p>
                                </blockquote>
                                <p class="source">Anna<br /><span class="title">Satisfied customer</span></p>
                            </div><!--//content-->
                        </div><!--//item-->
                    </div><!--//carousel-inner-->

                </div><!--//carousel-->
            </div><!--//container-->
        </section><!--//testimonials-->
    </div>
    
{% endblock %}
