
{% load staticfiles %}
<form id="contact-form" class="contact-form" method="post" action="{% url 'rustic_cut_contact_submit' %}">
        {% csrf_token %}
    <div class="row text-center">
                        <div class="contact-form-inner col-md-8 col-sm-12 col-xs-12 col-md-offset-2 col-sm-offset-0 xs-offset-0">
                            <div class="row">

                                <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                    {{contact_form.name}}
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                    {{contact_form.email}}
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group" >
                                    <p id="errorLocation">

                                    </p>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    {{contact_form.message}}
                                </div>
                                 <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    <button type="submit" id="submit_button" class="btn btn-block btn-cta btn-cta-primary">Send Message</button>
                                </div>
                            </div><!--//row-->
                        </div>
                    </div><!--//row-->
                    <div id="form-messages"></div>
                </form><!--//contact-form-->

<script>
   $("#submit_button").click(function(e){
        e.preventDefault();
         $.ajax({
            cache: false,
            data: $("#contact-form").serialize(),
            method: 'POST',
            url: "{% url 'rustic_cut_contact_submit' %}",
        })
        .done(function(response){
            if (response.status=="error"){
                $("#errorLocation").replaceWith("<p>There's something wrong with your message, please try again</p>");
                $("#errorLocation").addClass("contactError");
            }
            else{
                $("#successLocation").replaceWith("<h3 class=intro text-center >Thank you for contacting us, we will get back to you as soon as possible!</h3>");
                $(".contact-form").remove();
                $("#interested").remove();
            }
        })
        .fail(function(response){
        $("#errorLocation").replaceWith("<p>fail</p>");
        $("#errorLocation").addClass("contactError");
        })
   });



</script>
